{block #title}
	<i class="icon mdi mdi-offer"></i> Services
{/block}

{block #buttons}
	<a n:href="edit" class="btn btn-success">Add new service</a>
{/block}

{block content}
	<div class="m-admin-fix bg-white pb-2">
		{control serviceGrid}
	</div>
{/block}
