{block #title}
    <i class="icon mdi mdi-pencil"></i> Články
{/block}

{block #buttons}
    <a n:href="edit" class="btn btn-success">Napsat článek</a>
{/block}

{block content}
    <div class="m-admin-fix bg-white pb-2">
        {control articleGrid}
    </div>
{/block}
