body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: $gray-900;
	background-color: $white;
}

h1, h2, h3, .navbar-brand, .note, .heading-section, .sec, .nav-link, .created, .article-date {
	font-family: 'Nunito', sans-serif;
}

.navbar {
	align-items: stretch;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: rgba($light-green,.9);

	&::after {
		position: absolute;
		width: 100vw;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		content: '';
		background: url("../../img/zatec_menu_bg.jpg");
		background-position: center center;
		background-size: cover;
	}

	.navbar-brand {
		padding: 1rem 0;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: flex-end;
		font-size: 1.7rem;
		font-weight: 700;
		margin-right: 0;

		img {
			height: auto;
			width: 100%;
			margin-right: 10px;
			max-width: 200px;
		}
	}

	.navbar-toggler {
		position: relative;
		right: 1rem;
		background: $dark-green;
		padding: 0.4rem .7rem;
		border: none;
		border-radius: $border-radius;
	}

	.navbar-nav {
		padding: 1rem;

		.nav-social {

			svg {
				transition: all .2s ease-in-out;
			}
			&:hover svg {
				transform: scale(1.05);
				fill: $dark-blue;
			}
		}

		.nav-link {
			// for mobile only
			background: #ddfbce;
			display: block;
			padding: 1rem;
			border-radius: $border-radius;
			margin: .4rem 0;
			// end of for mobile

			font-weight: 700;
			font-size: 1.2rem;
			color: #222;
			transition: all .15s ease-in-out;

			svg {
				width: auto;
				height: 1.2rem;
				fill: #000;
			}

			&:hover {
				color: $dark-blue;
			}
		}
	}
}

.nav-breadcrumb {
	.breadcrumb {
		font-size: 0.9rem;
		background-color: unset;
		padding: 1rem;
	}
}

.homepage-articles {
	display: grid;
	grid-template-columns: 1fr;
	border-radius: $border-radius;
	background-color: $white;
	padding-left: 0;
	padding-right: 0;
	grid-gap: 1rem;

	.ad-img {
		max-width: 100%;
		height: auto;
		border-radius: $border-radius;
	}
}

.latest-articles {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.5rem;

	.newest-article {
		grid-template-columns: 1fr;
		grid-gap: 1.5rem;
		margin-bottom: 3rem;

		.article-img {
			width: 100%;
			height: auto;
			box-shadow: 0 2px 4px 3px rgba($gray-600, 0.1)
		}

		.article-text {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: .5rem;
		}
	}
}

.right-col {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;

	h4 {
		margin-bottom: 0;
	}
}

.category-section {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;

	h4 {
		cursor: default;
	}
}

article {
	width: 100%;
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-gap: 1rem;

	h2 {
		margin: 0;
		font-size: 1.5rem;
		font-weight: 700;
	}

	h3 {
		font-size: 1.2rem;
		font-weight: 500;
	}

	.article-img {
		width: 100px;
		height: 75px;
		object-fit: cover;
		border-radius: $border-radius;
	}

	.article-date {
		font-size: .8rem;
		color: $gray-600;
	}

	.article-section {
		display: flex;
		font-size: .9rem;
		gap: .5rem;
		margin-bottom: .2rem;
		justify-content: flex-start;
		align-items: center;
		transition: .15s ease-in-out;
	}
}

#about {
	margin-top: 4rem;
	border-radius: $border-radius;
	background-color: $white;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;

	.about-img {
		padding-left: 0;
		padding-right: 0;
	}

	.about-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}

.page-section {
	margin: 3rem 0;
}

.section-list {
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	a {
		display: grid;
		grid-template-columns: 50px auto;
		grid-gap: 1.5rem;
		align-items: center;

		&:hover {
			svg {
				transform: scale(1.1);
			}
		}

		h4 {
			font-size: 1.2rem;
		}

		svg {
			transition: all .2s ease-in-out;
			padding: .5rem;
			width: 60px;
			height: 60px;
			border-radius: $border-radius;
		}
	}
}

footer {
	margin-top: 3rem;
	padding-top: 4rem;
	background: $background-gray;

	.footer-container {

		div {
			padding-top: 3rem;
		}

		h3 {
			text-transform: uppercase;
			font-size: 1.2rem;
			font-weight: 700;
		}

		ul {
			list-style-type: none;
			padding-left: 0;

			li {
				margin-bottom: .4rem;

				a {
					padding-bottom: .1rem;
					color: #444;
					transition: all .2s ease-in-out;

					&:hover {
						color: $dark-blue;
						text-decoration: none;
					}
				}
			}
		}

		.socials {
			ul {
				list-style-type: none;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				padding-left: 0;

				li {
					padding: .5rem;
					margin-right: .8rem;

					a {

						&:hover svg {
							fill: $dark-blue;
							transform: scale(1.15);
						}

						svg {
							fill: #444;
							transition: all .2s ease-in-out;
							max-width: 30px;
							max-height: 30px;
						}
					}
				}
			}
		}

		.created {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 2rem 0;
			color: $gray-600;

			a {


				&:hover svg {
					fill: $dark-blue;
					transform: scale(1.1);
				}

				svg {
					transition: all .2s ease-in-out;
					fill: #888;
					display: block;
					margin-bottom: .7rem;
					width: 130px;
					height: auto;
				}
			}
		}
	}
}

.bg-blue { background-color: $blue }
.bg-red { background-color: $red }
.bg-orange { background-color: $orange }
.bg-green { background-color: $green }
.bg-purple { background-color: $purple }
.bg-yellow { background-color: $yellow }
.bg-white { background-color: $white }
.bg-g100 { background-color: $gray-100; color: $gray-900; }

.svg-section {
	width: 22px;
	height: 22px;
	display: inline-block;
}

.svg-article-section {
	width: 18px;
	height: 18px;
	display: inline-block;
}

.svg-zpravodajstvi {
	background-color: $blue;
	mask: url('../../img/zpravodajstvi.svg') no-repeat center / contain;
}
.svg-sluzby-a-spolky {
	background-color: $red;
	mask: url('../../img/sluzby-a-spolky.svg') no-repeat center / contain;
}
.svg-kultura-a-historie {
	background-color: $orange;
	mask: url('../../img/kultura-a-historie.svg') no-repeat center / contain;
}
.svg-sport {
	background-color: $green;
	mask: url('../../img/sport.svg') no-repeat center / contain;
}
.svg-vzdelavani {
	background-color: $purple;
	mask: url('../../img/vzdelavani.svg') no-repeat center / contain;
}
.svg-blogy {
	background-color: $yellow;
	mask: url('../../img/blogy.svg') no-repeat center / contain;
}

.blue {
	color: $blue;
	transition: all .2s ease-in-out;

	&:hover {
		color: darken($blue, 15%);
	}
}
.red {
	color: $red;
	transition: all .2s ease-in-out;

	&:hover {
		color: darken($red, 15%);
	}
}
.orange {
	color: $orange;
	transition: all .2s ease-in-out;

	&:hover {
		color: darken($orange, 15%);
	}
}
.green {
	color: $green;
	transition: all .2s ease-in-out;

	&:hover {
		color: darken($green, 15%);
	}
}
.purple {
	color: $purple;
	transition: all .2s ease-in-out;

	&:hover {
		color: darken($purple, 15%);
	}
}
.yellow {
	color: $yellow;
	transition: all .2s ease-in-out;

	&:hover {
		color: darken($yellow, 15%);
	}
}

.white {color: $white;}
.g100 {color: $gray-100;}
.gray {color: $background-gray; padding-bottom: 3rem;}

a, a > span {
	position: relative;
	color: inherit;
	text-decoration: none;
	line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
	content: '';
	position: absolute;
	transition: transform .4s ease;
}

.hover-3 {
	display: inline-flex;
	overflow: hidden;

	&:hover {
		text-decoration: none;
	}
}
.hover-3:before {
	left: 0;
	bottom: 0;
	height: 2px;
	background: $dark-blue;
	width: 100%;
	border-radius: 2px;
	transform: translateX(-100%);
}
.hover-3:hover:before {
	transform: translateX(0);
}

// ARTICLE PAGE
#article-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;
	margin-bottom: 4rem;

	.main-article {
		display: grid;
		grid-template-columns: 1fr;

		img {
			box-shadow: 0 2px 4px 3px rgba($gray-600, 0.1)
		}
	}

	nav {
		font-size: 0.9rem;
	}

	.date {
		font-size: 0.9rem;
		color: $gray-600;
		text-align: left;
	}

	.article-perex {
		font-weight: 700;
		font-size: 1.1rem;
		line-height: 150%;
	}

	.content * {
		line-height: 150%;
		font-family: 'Open Sans', sans-serif;
	}

	nav, h1, .date, .content, .fb-share-button, .galerie, .soubory, img {
		padding: .5rem 1rem;
		width: 100%;
		max-width: 700px;
	}

	h1 {
		margin-top: 0;
		line-height: 110%;
	}
}

// SECTION PAGE
.section-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;

	.list-of-articles {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		max-width: 700px;
		width: 100%;
		margin: 2rem 0;
	}
}

// galerie
.galerie {
	margin-top: auto;

	.gal-img {
		justify-content: center;
		position: relative;
		padding: 5px;

		img {
			padding: 0 !important;
			border-radius: $border-radius;
			max-height: 250px;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center 20%;
		}

		.n-of-photos {
			position: absolute;
			border-radius: $border-radius;
			top: 0;
			left: 0;
			margin: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			background-color: rgba($black, .4);
			color: $white;
			font-size: 2.4rem;
			font-weight: 400;
			transition: .25s ease-in;

			small {
				font-size: 1rem;
				font-weight: 400;
			}

			&:hover {
				background-color: rgba($black, .2);
				color: rgba($white, .5);
			}
		}
	}
}

// soubory
.folder {
	position: relative;
	display: flex;
	flex-direction: column;

	h3 {
		margin: 3rem 0 .5rem 3rem;
	}

	svg {
		position: absolute;
		top: 3rem;
		left: 0;
		width: 30px;
		height: auto;
	}

	a {
		&:hover {
			color: unset;
		}
	}
}

#zpravodajstvi, .zpravodajstvi {
	svg {fill: $blue;}
	h3 {color: $blue;}

	a {
		&:hover {
			text-decoration-color: darken($blue, 15%);
			background: rgba($blue,.1);
		}
	}
}
#sluzby-a-spolky, .sluzby {
	svg {fill: $red;}
	h3 {color: $red;}

	a {
		&:hover {
			text-decoration-color: darken($red, 15%);
			background: rgba($red,.1);
		}
	}
}
#kultura-a-historie, .kultura {
	svg {fill: $orange;}
	h3 {color: $orange;}

	a {
		&:hover {
			text-decoration-color: darken($orange, 15%);
			background: rgba($orange,.15);
		}
	}
}
#sport, .sport {
	svg {fill: $green;}
	h3 {color: $green;}

	a {
		&:hover {
			text-decoration-color: darken($green, 15%);
			background: rgba($green,.1);
		}
	}
}
#vzdelavani, .vzdelavani {
	svg {fill: $purple;}
	h3 {color: $purple;}

	a {
		&:hover {
			text-decoration-color: darken($purple, 15%);
			background: rgba($purple,.1);
		}
	}
}
#blogy, .blogy {
	svg {fill: $yellow;}
	h3 {color: $yellow;}

	a {
		&:hover {
			text-decoration-color: darken($yellow, 15%);
			background: rgba($yellow,.15);
		}
	}
}

.file {
	margin-bottom: .6rem;
	padding: .5rem;
	border-radius: $border-radius;
	background-color: $gray-100;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	width: 100%;
	transition: all .1s ease-in-out;

	&:hover {
		text-decoration: none;
		background-color: $gray-200;
	}

	img {
		max-width: 25px !important;
		margin: 0 .5rem 0 0 !important;
	}
}

.documents {
	display: grid;
	grid-template-columns: auto;
}

.note {
	position: relative;
	line-height: 1.3;
	margin: 0.5rem;
	border-radius: $border-radius;
	background: #f7f7f7;

	h1 {
		padding: .5rem;
		font-size: 1.2rem;
		margin: 0;
	}
}

.scrollmenu {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 0.3rem 1rem;
	height: 50px;
	overflow: auto;
	white-space: nowrap;

	a {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		gap: .3rem;
		font-weight: 500;
		text-align: center;
		padding: .4rem .6rem;
		text-decoration: none;

		&:hover {
			filter: brightness(1.1);
		}

		&:last-child {
			margin-right: 3rem;
		}
	}
}
