// responsive styles
@include media-breakpoint-up(xs) {
	.navbar {
		.navbar-brand {
			img {
				max-width: 220px;
			}
		}
	}
}
@include media-breakpoint-up(md) {
	.scrollmenu {
		justify-content: space-between;
	}

	article {

		h2 {
			font-size: 1.8rem;
		}

		h3 {
			font-size: 1.2rem;
		}
	}

	#section-page {
		.list-of-articles {

			article {
				.article-img {
					display: block;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.navbar {
		align-items: stretch;

		.container {
			align-items: flex-end;
		}

		.navbar-brand {
			img {
				max-width: 260px;
			}
		}

		.navbar-btn {
			display: none;
		}

		.navbar-collapse {
			justify-content: flex-end;
			align-items: flex-end;
		}

		.navbar-nav {
			padding: 1rem 1rem 0 1rem;

			.nav-link {
				background: unset;
				border-radius: unset;
				margin: unset;
				font-size: 1.1rem;
				padding: 1rem;
			}
		}
	}

	.scrollmenu {
		a {
			font-size: 1.1rem;

			&:last-child {
				margin-right: unset;
			}
		}
	}

	.homepage-articles {
		margin-top: 2rem;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
		grid-template-areas:
		"latest latest"
		"zpravodajstvi sluzby"
		"ad ad"
		"spolky sport"
		"vzdelavani blogy";

		.ad-a {
			grid-area: ad;
		}
	}

	.latest-articles {
		grid-area: latest;
		grid-template-columns: 1fr 350px;
		grid-gap: 3rem;
		padding-bottom: 3rem;
		border-bottom: 3px solid $gray-200;

		.newest-article {
			grid-template-columns: 1fr;
		}
	}

	.right-col {
		align-content: start;
		grid-gap: .75rem;

		article {
			padding-top: .75rem;
			border-top: 1.5px solid $gray-200;

			h3 {
				font-size: 1.2rem;
				font-weight: 500;
			}

		}
	}

	.category-section {
		grid-gap: 1.5rem;
		align-content: start;
	}

	article {
		grid-template-columns: 140px 1fr;

		.article-img {
			width: 140px;
			height: 105px;
		}

		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1.3rem;
		}
	}

	#article-page {
		grid-template-columns: 700px 1fr;

		h1 {
			font-size: 2.2rem;
		}
	}

	#about {
		grid-template-columns: 1fr 1fr;
	}

	.section-list {
		a {
			h4 {
				font-size: 1.4rem;
			}
		}
	}

	footer {
		.footer-container {
			display: grid;
			justify-items: stretch;
			gap: 1.5rem .5rem;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto;
			grid-template-areas:
		"menu sections socials"
		"created created created";

			.menu {
				grid-area: menu;
			}

			.sections {
				grid-area: sections;
			}

			.socials {
				grid-area: socials;
			}

			.created {
				grid-area: created;
			}

			div {
				padding-top: 0;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.navbar {
		.navbar-brand {
			img {
				max-width: 300px;
			}
		}

		.navbar-nav {
			.nav-link {
				font-size: 1.2rem;
			}
		}
	}

	.homepage-articles {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
		"latest latest latest"
		"zpravodajstvi sluzby spolky"
		"ad ad ad"
		"sport vzdelavani blogy";
	}

	.latest-articles {
		grid-template-columns: 1fr 550px;
	}
}
